@use "../../global" as *;

.c-logo {
    font-family: $f_logo;
    font-weight: 600;
    font-style: italic;
    color: $c_white;

    &--big {
        @include rem(32);
    }
    &--small {
        @include rem(24);
        @include media {
            @include rem(30);
        }
    }
}
