@use "../../global" as *;

.c-shop-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &__heading {
        @include rem(18);
        font-family: $f_logo;
        font-weight: 600;
        font-style: italic;
        color: $c_body_main;
    }

    &__list {
        width: 100%;
    }

    &__item {
        padding: 16px 2px;
        border-bottom: 1px dashed $c_main;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

/*  ==============================
* map
============================== */
.c-info-map {
    width: 100%;
    height: 165px;
    margin-top: 15px;
    display: block;
    @include media {
        max-width: 960px;
        height: 530px;
        margin: 0 auto;
        margin-top: 60px;
    }
}
