// ブレイクポイント
$breakpoints: (
    "tab": "425px",
    "pc": "768px",
);

@mixin media($breakpoint: "pc") {
    @media screen and (width > #{map-get($breakpoints, $breakpoint)}) {
        @content;
    }
}

// font-size rem
@mixin rem($fontSize) {
    font-size: calc($fontSize / 16 * 1rem);
}

// z-index
$z: (
    "header": 500,
    "gnav": 1000,
    "menu-btn": 1500,
);
@mixin z-index($name) {
    z-index: #{map-get($z, $name)};
}

/*  ==============================
* 行間のマージン無くす
============================== */
@mixin del_line-height_margin() {
    margin: calc((1lh - 1em) / -2) 0;
}
@function line-height_margin() {
    @return calc((1lh - 1em) / -2);
}
