$c_main: #6f4a2a;
$c_main2: #4a311c;
$c_body_main: #1a1a1a;
$c_white: #ebebeb;
$c_bg1: #efe4c3;
$c_bg2: #ecdfc6;

$f_ja: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$f_en: "Montserrat", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$f_script: "Oleo Script", system-ui;
$f_logo: "Raleway", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

$h_headerSP: 60px;
$h_headerPC: 78px;

$dur_def: 0.6s;
$dur_header1: 0.25s;
$dur_header2: 0.4s;
