@use "../../global" as *;

/*  ==============================
* 確認ボタンのラッパー
============================== */
.p-btn-confirm-wrapper {
    width: 100%;
    @include media {
        width: 320px;
    }
}
/*  ==============================
* キャンセルボタンのラッパー
============================== */
.p-btn-cancel-wrapper {
    width: 62.85714285714286%;
    min-width: 190px;
    @include media {
        width: 280px;
    }
}
