@use "../global" as *;

.l-containerL {
    width: 100%;
    max-width: 1332px;
    padding: 0 16px;
    margin: 0 auto;
}
.l-containerM {
    width: 100%;
    max-width: 992px;
    padding: 0 16px;
    margin: 0 auto;
}
.l-containerS {
    width: 100%;
    max-width: 792px;
    padding: 0 16px;
    margin: 0 auto;
}

.l-section {
    padding: 32px 0;
    @include media {
        padding: 60px 0;
    }
}

.l-section--subpage {
    background-color: $c_bg1;
    padding: 32px 0 80px;
    @include media {
        padding: 60px 0 84px;
    }
}

.l-section--first {
    margin-top: $h_headerSP;
    @include media {
        margin-top: $h_headerPC;
    }
}
